.backgroundImage {
    background-image: url("https://foni.club/uploads/posts/2023-02/1675378410_foni-club-p-fon-zadnii-nezhno-goluboi-3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
