@model Web_App_Shop_V2.Domain.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="..."></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justifi-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center ParagraphHome">Регистрация аккаунта</h3>
                        </div>
                        <div class="card-body">
                            <form autocomplete="on" method="post" asp-controller="Account" asp-action="Register">
                                <div asp-validation-summary="All" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input asp-for="name" placeholder="Логин" class="form-control textbox-dg font-weight-bold text-center" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="password" placeholder="Пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="passwordConfirm" placeholder="Подтвердите пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <button class="btn btn-success btn-lg float-right">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>